.jumbotron__center:before {
    content: "";
    background-image: url(/src/assets/img/backgrounBox.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: red; */
    position: absolute;
    display: inline-block;
    width: 50vh;
    height: 50vh;
    left: 5vw;
    top: 34vh;
}
.jumbotron__center:after {
    content: "";
    background-image: url(/src/assets/img/backgrounBox.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 300px;
    height: 547px;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -moz-box-flex: 0;
    -ms-flex: none;
    flex: none;
    position: absolute;
    top: 0;
}
h3{
    font-weight: bold
}